{% load i18n static humanize %}
<div class="col-xs-4 col-sm-3 notice-cnsl swiper-slide" style="text-align: center">
    <a href="{% url 'ikwen:profile' rq.member.id %}">
        {% if rq.member.photo and rq.member.photo.name %}
            <div class="img" style="background-image: url({{ IKWEN_MEDIA_URL }}{{ rq.member.photo.small_name }})"></div>
        {% else %}
            <div class="img" style="background-image: url({% static 'ikwen/img/login-avatar.jpg' %})"></div>
        {% endif %}
        <p style="margin-top: 5px">{{ rq.member.full_name|truncatewords:2 }}</p>
    </a>
</div>