{% extends "core/object_list_base.html" %}
{% load i18n humanize static auth_tokens %}

{% block page_title %}
<title> {% trans "Community" %} - ikwen </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link href="{% static 'ikwen/css/uploader-single.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <style>
        #groups {clear: both}
        #groups .results a {color: #333}
        #groups .results span {color: #888}
        .tab-content .spinner {background: rgba(255, 255, 255, .6); height: 100%; margin-left: -255px; position: fixed; width: 100%}
        ul.people {margin: 0; padding-left: 0}
        .member.Blocked  {opacity: .72; filter:Alpha(opacity=72)}
        #permissions, #profiles, #group-update {border-bottom: 1px solid #eee}
        #profile-tag-list ul {padding: 5px 0 0 5px}
        #profile-tag-list li {list-style-type: none; padding-bottom: 7px}
        #profile-tag-list li input[type=checkbox] {float: left; margin: 2px 6px 0 0}
        #profile-tag-list li span {font-weight: 400}
        #group-update h5 em {color: #888}
        li.member.ghost .full_name {font-style: italic}
        #admin-tools .import {margin-left: 15px}
        @media (min-width: 768px) {
            #groups {clear: both; margin-top: 15px}
            .form-group.new-contact-profile {margin-bottom: 50px}
        }
        @media (max-width: 767px) {
            #admin-tools-form {width: auto}
            #page-navigation {margin-top: 3px}
        }
    </style>
{% endblock %}

{% block head_js %}
    {{ block.super }}
    <script src="{% static 'ikwen/ajaxuploader/js/fileuploader.js' %}"></script>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Community" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="has-edge-panel-right">
        <div class="container-fluid">
            {# ADMIN TOOLS: Must be smartly replaced by the standard one #}
            <div id="admin-tools">
                <form id="admin-tools-form">
                    <div>
                        <div>
                            <i class="glyphicon glyphicon-search"></i>
                            <i class="glyphicon glyphicon-menu-left hide-search back"></i>
                            <input id="context-search" type="text" placeholder="{% trans "Search" %}" value="{% if q %}{{ q }}{% endif %}"
                                   class="input-sm tool search" data-min-search-chars="2"/>
                        </div>
                        {% if filter and filter|length > 0 %}
                            <div class="filter-trigger">
                                <i class="glyphicon glyphicon-filter"></i>
                                <i class="glyphicon glyphicon-menu-left hide-filter back"></i>
                                <div class="show-floating-filter btn btn-default btn-sm hidden-xs" style="display: none; padding-left: 30px">
                                    <div>
                                        <span class="pull-left">{% trans "Filters" %}</span>
                                        <span class="caret pull-right" style="margin: 7px 0 0 5px"></span>
                                    </div>
                                </div>
                                <div class="floating-filter subtle-shade" style="display: none">
                                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                {% for elt in filter %}
                                    <div class="tool filter{% if elt.is_date_filter %} period{% endif %}">
                                        <label for="{{ elt.parameter_name }}" class="sr-only">{% trans elt.title %}</label>
                                        <select id="{{ elt.parameter_name }}" style="float: left; width: 120px;{% if forloop.counter > 1 %} padding-left: 10px{% endif %}"
                                                class="form-control input-sm {{ elt.parameter_name }} widget" name="{{ elt.parameter_name }}">
                                            <option value="">{% trans "All" %} {% trans elt.title %}</option>
                                            {% for choice in elt.choices %}
                                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                            {% endfor %}
                                            {% if elt.is_date_filter %}
                                                <option value="other">{% trans "Other" %}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </form>
                <div id="admin-tools-actions">
                    {% url change_object_url_name as change_object_url %}
                    <a href="javascript:;" class="btn btn-sm btn-success cta add pull-right action"
                            data-toggle="modal" data-target="#modal-add-contact" title="{% trans "Add new contact" %}">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span class="hidden-xs">{% trans "Add" %}</span>
                    </a>
                    {% if show_import %}
                        <button class="btn btn-sm btn-success cta pull-right action"
                           title="{% blocktrans %}Import Member list from CSV file{% endblocktrans %}"
                           style="margin-right: 5px" data-toggle="modal" data-target="#modal-import">
                            <i class="fa fa-file-import"></i>
                            <span class="hidden-xs">{% trans "Import" %}</span>
                        </button>
                    {% endif %}
                    {% if user.is_bao and show_export %}
                        <button class="btn btn-sm btn-success cta pull-right action export"
                           title="{% blocktrans %}Export Member list to CSV file{% endblocktrans %}"
                           style="margin-right: 5px">
                            <i class="fa fa-file-export"></i>
                            <span class="hidden-xs">{% trans "Export" %}</span>
                        </button>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
            {# END ADMIN TOOLS #}
            <div id="groups" class="content-tab-list ceil">
                <div class="swiper-container">
                    <div class="nav nav-tabs" role="tablist">
                        <div role="presentation" class="tab group {{ group_list.0.name }} active" data-id="{{ group_list.0.id }}" data-name="{{ group_list.0.name }}">
                            <a href="#{{ group_list.0.id }}" aria-controls="{{ group_list.0.id }}" role="tab" data-toggle="tab">{% trans group_list.0.name %}</a>
                        </div>
                        {% for group in group_list|slice:"1:" %}
                            <div role="presentation" class="tab group {{ group.name }}" title="{{ group.name }}" data-id="{{ group.id }}" data-name="{{ group.name }}">
                                <a href="#{{ group.id }}" aria-controls="{{ group.id }}" role="tab" data-toggle="tab">{{ group.name|truncatechars:"12" }}</a>
                            </div>
                        {% endfor %}
                        <div role="presentation" class="tab group {{ sudo_group.name }}" data-id="{{ sudo_group.id }}" data-name="{{ sudo_group.name }}">
                            <a href="#{{ sudo_group.id }}" aria-controls="{{ sudo_group.id }}" role="tab" data-toggle="tab">{{ sudo_group.name }}</a>
                        </div>
                        <div role="presentation" class="tab group results" data-id="results" style="display: none">
                            <a href="#results" aria-controls="results" role="tab" data-toggle="tab">{% trans "Search: " %} <span></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active results-stage" id="{{ group_list.0.id }}">
                    {% include 'accesscontrol/snippets/community_list_results.html' %}
                </div>
                {% for group in group_list|slice:'1:' %}
                    <div role="tabpanel" class="tab-pane results-stage" id="{{ group.id }}">
                        <ul class="people">
                            <li class="member tpl" style="display: none">
                                <a class="photo"></a>
                                <div class="info">
                                    <a class="full_name"></a>
                                    <p class="about"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
                <div role="tabpanel" class="tab-pane results-stage" id="{{ sudo_group.id }}">
                    {% include 'core/snippets/spinner.html' %}
                    <ul class="people">
                        <li class="member tpl" style="display: none">
                            <a class="photo"></a>
                            <div class="info">
                                <a class="full_name"></a>
                                <p class="about"></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="results" data-min-search-chars="2">
                    {% include 'core/snippets/spinner.html' %}
                    <div class="empty" style="color: #888; font-size: 18px; padding: 30px 0">{% trans "No result" %}</div>
                    <ul class="people">
                        <li class="member tpl" style="display: none">
                            <a class="photo bg-img target_url"></a>
                            <div class="info">
                                <a class="full_name target_url"></a>
                                <p class="about">
                                    <span class="phone"></span>, <span class="email"></span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="edge-panel-right-container">
                <div id="object-detail" class="edge-panel edge-panel-right">
                    {% include 'core/snippets/spinner.html' %}
                    <div class="empty">
                        {% trans "Click on a member in the list to view and manage." %}
                    </div>
                    <div class="content"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-add-contact" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Add contact to CCM" %}</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false">
                        <input id="new-contact-member-id" type="hidden" value="" />
                        <div class="form-group">
                            <label for="new-contact-name">{% trans "Name" %}</label>
                            <input id="new-contact-name" type="text" class="form-control input-sm" />
                        </div>
                        <div class="form-group">
                            <label for="new-contact-gender">{% trans "Gender" %}</label>
                            <select id="new-contact-gender" class="form-control input-sm">
                                <option value=""> ------ </option>
                                <option value="Male">{% trans "Male" %}</option>
                                <option value="Female">{% trans "Female" %}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="new-contact-email">{% trans "Email" %}</label>
                            <input id="new-contact-email" type="email" class="form-control input-sm" />
                        </div>
                        <div class="form-group">
                            <label for="new-contact-phone">{% trans "Phone" %}</label>
                            <input id="new-contact-phone" type="text" class="form-control input-sm" />
                        </div>
                        <div class="form-group" id="new-contact-profiles">
                            <label for="new-contact-profiles">{% trans "Profiles" %}</label>
                            <div class="row">
                            {% for profile in profiletag_list %}
                                <div class="checkbox tile col-sm-4 col-md-3">
                                    <label for="squaredThree">
                                         <input type="checkbox" id="{{ profile.id }}" value="{{ profile.id }}"><span>{{ profile.name }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        {% if preference_list %}
                        <div class="form-group" id="new-contact-preferences">
                            <label for="new-contact-preferences">{% trans "Preferences" %}</label>
                            <div class="row">
                            {% for preference in preference_list %}
                                <div class="checkbox tile col-sm-4 col-md-3">
                                    <label for="squaredThree">
                                         <input type="checkbox" id="{{ preference.id }}" value="{{ preference.id }}"><span>{{ preference.name }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </form>
                    <div class="actions row">
                        <div class="col-xs-12 col-sm-4 pull-right">
                            <button class="btn btn-sm btn-success btn-block add-contact"
                                    data-dismiss="modal" aria-label="Close">{% trans "OK" %}</button>
                        </div>
                        <div class="col-xs-12 col-sm-4 pull-right">
                            <button class="btn btn-sm btn-default btn-block"
                                    data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-import" class="modal fade modal-import" tabindex="-1" role="dialog" aria-labelledby="modal-import">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="text-align: center">
                <div class="modal-header no-border " style="background: #319dd5; color: #ffffff">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #ffffff">&times;</span></button>
                    <h4 class="modal-title" style="text-align: center">{% trans "Import from CSV file" %}</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div style="padding-top: 1.5vh;">
                            <a href="{% static "ikwen/ikwen_Import_Contacts.csv" %}" style="text-decoration: none;">{% trans "Download CSV file model..." %}</a>
                        </div>
                        <div id="upload-container" class="upload-container text-center" style="padding-top: 1vh;width: 100%">
                            <div class="uploader" style="display: block; margin: auto; position: static; height: 120px"></div>
                            <div id="import-success" style="display: none">
                                <div class="contact-filename text-success" style="color: #15a53c;font-size: 1.2em"></div>
                            </div>
                            <span id="import-error" class="text-danger" style="font-size: 1.2em"></span>
                        </div>
                        <input type="hidden" id="contact-file-url" name="contact_file_url" />
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none; padding-top: 0;text-align: center">
                    <button class="btn btn-green btn-sm confirm-import" style="display: none; min-width: 200px">
                        {% trans "Confirm" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .community').addClass('active');
            $('#groups').on('click', '.group', function (e) {
                let groupId = $(this).data('id'),
                    groupName = $(this).data('name'),
                    count = $('div#' + groupId + ' li.member:not(.tpl)').length;
                $('div#group-update h5 em').text(groupName);
                $('div.tab-pane').removeClass('active');
                $('div#' + groupId).addClass('active');
                if (count > 0 && $(window).width() >= 768) {
                    $('div#' + groupId + ' li.member.active').click();
                    return;
                }
                $('div#object-detail .empty').show();
                $('div#object-detail .actions').hide();
                if (groupId === 'results') return;
                $(`#${groupId}.tab-pane .spinner`).fadeIn();
                let query = `group_name=${groupName}&start=0&length=50&format=html_results`;
                $(`#${groupId}.tab-pane`).load('', query);
            });
            function applyMemberTemplate($tpl, member) {
                $tpl.addClass(member.status).data({"id": member.id, "status": member.status, "permissions": member.permissions});
                $tpl.find('.full_name').text(member.full_name);
                $tpl.find('.about').text(member.phone + ', ' + member.email);
                $tpl.find('a').attr('href', member.url);
                $tpl.find('.photo').css('background-image', 'url(' + member.photo + ')');
                if (member.is_ghost) $tpl.addClass('ghost');
                return $tpl;
            }
            $('body').on('click', 'li.member', function() {
                let memberId = $(this).data('id');
                $('ul li.member').removeClass('active');
                $(this).addClass('active');
                $('div#object-detail .empty').hide();
                $('div#object-detail .spinner').show();
                $('div#object-detail .content').load('?render=load_member_detail&member_id=' + memberId, function() {
                    $('div#object-detail .spinner').hide();
                });
                if ($(window).width() < 768) {
                    ikwen.swipeInRightPanel()
                }
            }).on('click', '.set-permissions', function() {
                let memberId = $(this).data('member-id'),
                    permissionIds = [];
                $('div#permissions input:checked').each(function() {
                    permissionIds.push($(this).val())
                });
                $.getJSON('{% url 'ikwen:set_collaborator_permissions' %}',
                        {permission_ids: permissionIds.join(','), member_id: memberId}, function(data) {
                    if (data.success) {
                        ikwen.showFloatingNotice("{% trans 'Permissions successfully updated' %}", '', 6)
                    }
                });
            }).on('click', '.set-profiles', function() {
                let memberId = $(this).data('member-id'),
                    tagIds = [];
                $('div#profiles input:checked').each(function() {
                    tagIds.push($(this).val())
                });
                $.getJSON('', {action: 'set_member_profiles', member_id: memberId, tag_ids: tagIds.join(',')}, function(data) {
                    if (data.success) {
                        ikwen.showFloatingNotice("{% trans 'Profiles successfully updated' %}", '', 6)
                    }
                });
            }).on('click', '#group-update .group', function() {
                let groupId = $(this).data('id'),
                    name = $(this).data('name'),
                    memberId = $(this).data('member-id');
                $.getJSON('{% url 'ikwen:move_member_to_group' %}', {group_id: groupId, member_id: memberId}, function(data) {
                    if (data.success) {
                        var activeGroupId = $('div#groups .group.active').data('id');
                        if (groupId !== activeGroupId) {
                            $('.member.active').remove().appendTo('#' + groupId + ' .people').click();
                        }
                        ikwen.showFloatingNotice("{% trans 'Member moved to group' %}" + ' ' + name, '', 6)
                    }
                });
            }).on('click', '.toggle-member', function() {
                let memberId = $(this).data('member-id'),
                    status = $(this).data('status');
                $.getJSON('{% url 'ikwen:toggle_member' %}', {member_id: memberId}, function(data) {
                    if (data.success) {
                        if (status === 'Blocked')  {
                            $('.member.active').removeClass('Blocked');
                            $('#permissions, #group-update').show();
                            $('div#blocking button').text("{% trans 'Block' %}").data('status', 'Active');
                        } else  {
                            $('.member.active').addClass('Blocked');
                            $('div#blocking button').text("{% trans 'Activate' %}").data('status', 'Blocked');
                            $('#permissions, #group-update').hide();
                        }
                        ikwen.showFloatingNotice("{% trans 'Member status successfully updated' %}", '', 6)
                    }
                });
            }).on('click', '.delete-member', function() {
                let memberId = $(this).data('member-id');
                $.getJSON('', {action: 'delete_ghost_member', member_id: memberId}, function(data) {
                    if (data.success) {
                        $(`#${memberId}`).remove();
                        $('div#object-detail .content').html('');
                        ikwen.showFloatingNotice("{% trans 'Member successfully deleted' %}", '', 6);
                    }
                });
            }).on('click', '#admin-tools .add', function() {
                $('#modal-add-contact input[type=text], #modal-add-contact input[type=hidden], #modal-add-contact select').val('');
                $('div#new-contact-profiles input[type=checkbox], div#new-contact-preferences input[type=checkbox]').prop('checked', false);
            }).on('click', '.edit-member', function() {
                let memberId = $(this).parents('li.member').data('id'),
                    name = $(this).parents('li.member').find('.full_name').text(),
                    gender = $(this).data('gender'),
                    email = $(this).data('email'),
                    phone = $(this).data('phone'),
                    tagIds = $(this).data('profile-tags').substr(1).split(',');
                $('#new-contact-member-id').val(memberId);
                $('#new-contact-name').val(name);
                $('#new-contact-gender').val(gender);
                $('#new-contact-email').val(email);
                $('#new-contact-phone').val(phone);
                for (let i=0; i<tagIds.length; i++) {
                    $(`#${tagIds[i]}`).prop('checked', true)
                }
            }).on('click', '.add-contact', function() {
                let memberId = $('#new-contact-member-id').val(),
                    name = $('#new-contact-name').val(),
                    gender = $('#new-contact-gender').val(),
                    email = $('#new-contact-email').val(),
                    phone = $('#new-contact-phone').val(),
                    tagIds = [];
                $('div#new-contact-profiles input:checked').each(function() {
                    tagIds.push($(this).val())
                });
                $('div#new-contact-preferences input:checked').each(function() {
                    tagIds.push($(this).val())
                });
                let params = {action: 'change_ghost_member', member_id: memberId, name: name, gender: gender,
                    email: email, phone: phone, tag_ids: tagIds.join(',')};
                $.getJSON('', params, function(data) {
                    if (data.error) {
                        ikwen.showFloatingNotice(data.error, '', 6)
                    }
                    if (data.success) {
                        if (memberId) {
                            let $member = $(`#${memberId}`);
                            $member.find('.full_name').text(name);
                            $member.find('.about').text(phone + ', ' + email);
                            ikwen.showFloatingNotice("{% trans "Member updated" %}", '', 6)
                        } else {
                            $('.nav-tabs .tab').removeClass('active').hide();
                            $('.nav-tabs .tab:first').addClass('active').show();
                            $('.tab-pane').removeClass('active').hide();
                            $('.tab-pane:first').addClass('active').show();
                            let $member = $('.tab-pane:first .member.tpl').clone().removeClass('tpl');
                            $member = applyMemberTemplate($member, data.member);
                            $member.prependTo('.tab-pane:first .people').show();
                            ikwen.showFloatingNotice("{% trans "Member added" %}", '', 6)
                        }
                    }
                });
            }).on('click', '#modal-import .confirm-import', function() {
                $.ajax({
                    data: {render: 'import_contacts_file', filename: $("#contact-file-url").val()},
                    error: function() {
                        ikwen.showFloatingNotice("Oops! Something went wrong");
                    },
                    success: function(response) {
                        try {
                            response = JSON.parse(response);
                            if (response.error) ikwen.showFloatingNotice(response.error);
                        } catch (e) {
                            $('.tab.group').removeClass('active');
                            $('.tab.group.{{ group_list.0.name }}').addClass('active');
                            $('div.tab-pane').hide();
                            $('.tab-pane#{{ group_list.0.id }}').show().html(response);
                            $('#modal-import').modal('hide');
                        }
                    }
                });
            });
            let searchDescriptor = [{
                endpoint: '{% url 'ikwen:list_collaborators' %}',
                resultTplSelector: '#results li.member'
            }];
            function beforeSearch() {
                let q = $('form#context-search input').val();
                $('div#groups .group').removeClass('active');
                $('div#groups .group.results').show().addClass('active').find('span').text(q);
                $('div.tab-pane').hide();
                $('#results').show();
                $('div#object-detail .empty').show();
                $('div#object-detail .actions').hide();
            }
            $('#context-search').unbind();
            ikwen.setupSearch('#context-search', '#results', searchDescriptor, beforeSearch);
            $('#admin-content').on('change', '#admin-tools .filter select', beforeSearch);

            let uploader = new qq.FileUploader({
                template: '<div class="qq-uploader" style="background: none">' +
                    '<div class="qq-upload-drop-area"><span></span></div>' +
                    '<div class="qq-upload-button">' +
                        '<img class="modal-icon pb-10" src="{% static 'echo/img/import-csv-small.png' %}"' +
                            'style="cursor: pointer;"' +
                            "title='{% trans "Import contact list from CSV file" %}'>" +
                    '</div>' +
                    '<ul class="qq-upload-list"></ul>' +
                '</div>',
                action: "{% url 'ikwen:upload_contacts_file' %}",
                element: $('div#upload-container .uploader')[0],
                allowedExtensions: ['csv'],
                buttonText: "{% trans "Upload contact from CSV file" %}",
                multiple: false,
                onSubmit: function(id, fileName) {
                    $('body').css('cursor', 'wait')
                },
                onComplete: function(id, fileName, responseJSON) {
                    $('body').css('cursor', 'auto');
                    if (responseJSON.error_message) {
                        $('#import-success, .contact-filename, .confirm-import').hide();
                        $('#import-error').html(responseJSON.error_message).show();
                    } else if(responseJSON.success) {
                        $('#contact-file-url').val(responseJSON.path);
                        $('.contact-filename').text(fileName).show();
                        $('#import-error').hide();
                        $('#import-success, .confirm-import').show();
                    } else {
                        alert("upload failed!");
                    }
                },
                params: {
                    'csrf_token': '{{ csrf_token }}',
                    'csrf_name': 'csrfmiddlewaretoken',
                    'csrf_xname': 'X-CSRFToken'
                }
            });
        })()
    </script>
{% endblock %}
