{% extends "core/base_bs.html" %}
{% load i18n static %}

{% block page_title %}
<title>{{ service.project_name }} - {% trans "Forgotten password" %} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style type="text/css">
        #navbar .search, #navbar .navbar-right {display: none}
        div.success, div.failure {margin: 60px 0 15px; padding: 10px}
    </style>
{% endblock %}

{% block content %}
    <div id="content" class="form">
        <div class="container">
            {% if request.GET.success %}
    {#            This block appears only if it's e-mail recovery#}
                <div class="success">
                    {% trans "Instructions to reset you password were sent to your e-mail." %}
                </div>
                <a href="{% url 'home' %}"> {% trans "Home" %} </a>
            {% else %}
                {% if messages %}
                    {% for msg in messages %}<p class="{{ msg.tags }}" style="font-size: 1em; padding: 9px">{{ msg }}</p>{% endfor %}
                {% endif %}
                <div class="directions">
                    {% if sms_recovery %}
                        {% trans "Please enter your phone to receive password a reset code." %}
                    {% else %}
                        {% trans "Please enter your email to receive password reset information." %}
                    {% endif %}
                </div>
                <div id="forgotten-pwd" class="form-wrapper">
                    <form method="post" action="{% url 'ikwen:forgotten_password' %}"> {% csrf_token %}
                        <div class="form-group">
                            {% if sms_recovery %}
                                <label for="phone">{% trans "Phone" %}</label>
                                <input id="phone" class="form-control input-sm phone" type="text" name="phone" />
                                {{ form.phone.errors }}
                            {% else %}
                                <label for="email">Email</label>
                                <input id="email" class="form-control input-sm email" type="email" name="email" value="{{ request.GET.username }}" />
                                {{ form.email.errors }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block btn-sm"> {% trans "Reset password" %} </button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    {{ config.scripts|safe }}
{% endblock %}