{% extends "core/base_bs.html" %}
{% load i18n static auth_tokens %}

{% block page_title %}<title>{{ service.project_name }} - {% trans "Sign in" %} </title>{% endblock %}
{% block head_style %}
    {{ block.super }}
    <style  type="text/css">
        #navbar {background: rgba(0, 0, 0, 0)}
        #navbar form.search input, #navbar-search, #navbar .navbar-right, #nav-xs {display: none}
        #content > div {margin: auto}
        div#confirmation {background: rgba(255, 255, 255, .9); border-radius: 3px; padding: 1px 20px 30px; width: 300px}
        #navbar .navbar-brand, #navbar .navbar-brand:hover {display: none}
        .logout {font-size: 13px}

        @media (max-width: 767px) {
            #navbar .navbar-header {float: none; text-align: center}
            #content {padding-top: 15px}
            .logout {padding-bottom: 20px}
            div#confirmation {padding: 1px 0 30px}
        }

        @media (min-width: 768px) {
            div#confirmation {width: 380px}
        }

        @media (min-width: 992px) {
            #content {margin-top: 3%}
        }

        div#confirmation input {border: 1px solid #bbb;}
        div#confirmation form {padding: 30px}
        label span {font-weight: normal}
        #content form .hint {color: #8D96C5; font-size: 14px}
        #content form ul.errorlist {padding-left: 0}
        #content form ul.errorlist li {color: #FF0808; list-style-type: none}
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
            {% if messages %}
                {% for msg in messages %}<p class="msg-tag {{ msg.tags }}" style="font-size: 1em; padding: 9px">{{ msg }}</p>{% endfor %}
            {% endif %}
            <div class="col-xs-12 text-right logout">
                <a href="{% url 'ikwen:logout' %}">{% trans "Logout" %}</a>
            </div>
            <div id="confirmation">
                <h3 style="text-align: center"> {% trans "Confirm your phone" %} </h3>
                <p class="text-muted" style="text-align: center"> {{ user.phone }} </p>
                <p class="text-muted" style="text-align: center"> {% trans "Type the 4 digits code we sent you by SMS" %} </p>
                <form class="submit-code" action="{% url 'ikwen:phone_confirmation' %}?{{ request.META.QUERY_STRING }}" method="post">{% csrf_token %}
                    <div class="form-group" style="margin-top: .4em">
                        <label for="code" class="sr-only">{% trans "Confirmation code" %}</label>
                        <input id="code" class="form-control" type="text" name="code" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block btn-sm"> {% trans "Continue" %} </button>
                    </div>
                </form>
                <div style="clear: both; text-align: center">
                    {% url 'ikwen:account_setup' as account_setup_url %}
                    {% include 'core/snippets/spinner.html' %}
                    <p class="text-muted" style="font-size: 12px">{% trans "Please be patient ! SMS can sometimes take about 1-2 mn to get to you." %}</p>
                    <a class="get-new-code" href="#">{% trans "Resend confirmation code" %}</a>
                    <p class="text-muted" style="margin-top: 10px">{% trans "OR" %}</p>
                    <a href="{{ account_setup_url|ikwenize }}">{% trans "Change phone number" %}</a>
                    <div class="code-sent" style="display: none">
                        <i style="font-size: 2em; color: #039B03" class="glyphicon glyphicon-ok"></i>
                        <p class="text-success">{% trans "A new code was sent to you." %}</p>
                    </div>
                    <p class="code-error text-danger"></p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        (function() {
            $('.submit-code').submit(function() {
                var code = $('#code').val();
                if (!/\d{4}/.test(code)) {
                    alert("{% trans 'Please enter a valid 4 digits code' %}");
                    return false
                }
            });
            $('.get-new-code').click(function() {
                $(this).hide();
                $('div#confirmation .spinner').show();
                $.getJSON('', {action: 'new_code'}, function(resp) {
                    $('div#confirmation .spinner').hide();
                    if (resp.error) {
                        $('.code-error').text(resp.error).show();
                        return;
                    }
                    $('.code-sent').show();
                });
                return false
            })
        })()
    </script>
{% endblock %}