{% extends "core/base_bs.html" %}
{% load i18n static %}

{% block page_title %}<title>{{ service.project_name }} - {% trans "Set your new password" %} </title>{% endblock %}
{% block head_style %}
    {{ block.super }}
    <style  type="text/css">
        #navbar .search, #navbar .navbar-right {display: none}
    </style>
{% endblock %}

{% block content %}
    <div id="content" class="form">
        <div class="container">
            {% if form.errors %}
                <p class="failure" style="font-size: 1em; padding: 9px">{{ form.errors }}</p>
            {% endif %}
            <div class="directions">
                {% trans "Please choose a new password and confirm." %}
            </div>
            <div id="set-password" class="form-wrapper">
                <form action="{% url 'ikwen:set_new_password' uidb64 token %}" method="post">{% csrf_token %}
                    <div class="form-group">
                        <label for="new-pwd">{% trans "New Password" %}</label>
                        <input id="new-pwd" class="form-control input-sm password" type="password" name="new_password1" />
                    </div>
                    <div class="form-group">
                        <label for="confirm-pwd">{% trans "Confirm" %}</label>
                        <input id="confirm-pwd" class="form-control input-sm password" type="password" name="new_password2" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block btn-sm"> {% trans "Submit" %} </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}