{% extends "core/base_bs.html" %}
{% load i18n static %}

{% block page_title %}<title>{{ service.project_name }} - {% trans "Sign in" %} </title>{% endblock %}
{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'ikwen/css/sign-in.css' %}?v=23.4.18" />
    <link rel='stylesheet' href="{% static 'ikwen/css/pwa.css' %}?v=20.8.6" />
    <style>
        #calling-code {margin: 12px 0 0 10px; position: absolute; z-index: 1;}
    </style>
{% endblock %}

{% block content %}
    {% include 'core/snippets/language_switcher.html' %}
    <div id="content" class="form init" style="clear: both">
        <div class="container" style="clear: both">
            <p class="failure" style="display: none; font-size: 1em; padding: 9px"></p>
            {% if messages %}
                {% for msg in messages %}<p class="msg-tag {{ msg.tags }}" style="font-size: 1em; padding: 9px">{{ msg }}</p>{% endfor %}
            {% endif %}
            <div id="stage" class="form-wrapper subtle-shade">
                <h3 class="login-title">
                    {% if config.logo.name %}
                        <img src="{% get_media_prefix %}{{ config.logo.name }}" alt="Logo {{ service.project_name }}"
                             style="max-height: 40px"/>
                    {% endif %}
                    {% trans "Login" %}
                </h3>
                <form id="auth" action="{{ action }}" method="post">{% csrf_token %}
                    <div class="form-group row username">
                        <label for="username" class="col-sm-5 col-md-4">{% trans "Username or email" %}</label>
                        <div class="col-sm-7 col-md-8">
                            <input id="username" class="form-control input-md" type="text" name="username" value="{{ username }}" autofocus />
                        </div>
                    </div>
                    <div class="form-group submit-username">
                        <button class="btn btn-primary btn-block btn-md" type="button">
                            {% include 'core/snippets/button_spinner.html' %}
                            <span>{% trans "Submit" %}</span>
                        </button>
                    </div>
                    <div class="create-account">
                        <div class="form-group row password2">
                            <label for="password2" class="col-sm-5 col-md-4">{% trans "Confirm password" %}</label>
                            <div class="col-sm-7 col-md-8">
                                <input id="password2" class="form-control input-md confirm-password" type="password" name="password2" />
                            </div>
                        </div>
                        <div class="form-group row email">
                            <label for="email" class="col-sm-5 col-md-4">
                                {% trans "E-mail" %}
                                {% if not config.register_with_email %}<span style="font-weight: 300">({% trans "Optional" %})</span>{% endif %}
                            </label>
                            <div class="col-sm-7 col-md-8">
                                <input id="email" class="form-control input-md{% if config.register_with_email %} required{% endif %}" type="email" name="email"/>
                            </div>
                        </div>
                        <div class="form-group row phone">
                            <label for="phone" class="col-sm-5 col-md-4">{% trans "Phone number" %}</label>
                            <div class="col-sm-7 col-md-8">
                                <span id="calling-code" class="text-muted">{{ ip_data.calling_code }}</span>
                                <input id="phone" style="padding-left: 45px"
                                       class="form-control input-md required" type="tel" name="phone" maxlength="15"/>
                            </div>
                        </div>
                        <div class="form-group row first-name">
                            <label for="first-name" class="col-sm-5 col-md-4">{% trans "First name" %}</label>
                            <div class="col-sm-7 col-md-8">
                                <input id="first-name" class="form-control input-md" type="text" name="first_name"/>
                            </div>
                        </div>
                        <div class="form-group row last-name">
                            <label for="last-name" class="col-sm-5 col-md-4">{% trans "Last name" %}</label>
                            <div class="col-sm-7 col-md-8">
                                <input id="last-name" class="form-control input-md" type="text" name="last_name"/>
                            </div>
                        </div>
                        <div class="form-group row gender">
                            <label for="last-name" class="col-sm-5 col-md-4">{% trans "Your are ..." %}</label>
                            <div class="checkbox col-sm-3">
                                <label>
                                    <input type="radio" name="gender" value="Female" /> {% trans "A woman" %}
                                </label>
                            </div>
                            <div class="checkbox col-sm-3" style="margin-top: 10px">
                                <label>
                                    <input type="radio" name="gender" value="Male" /> {% trans "A man" %}
                                </label>
                            </div>
                        </div>
                        {% if config.register_with_dob %}
                            {% include "accesscontrol/snippets/dob_widget.html" %}
                        {% endif %}
                    </div>
                    <div class="form-group row password">
                        <label for="password" class="col-sm-5 col-md-4">{% trans "Password" %}</label>
                        <div class="col-sm-7 col-md-8">
                            <input id="password" class="form-control input-md" type="password" name="password" />
                        </div>
                    </div>
                    <div class="terms">
                        <div class="form-group">
                            <p id="terms-warning">{% blocktrans %}
                                By creating an account you agree our <a href="{{ agreement_page }}">Terms & Conditions</a>
                            {% endblocktrans %}</p>
                        </div>
                        <div class="form-group row">
                            <div class="checkbox" style="padding-left: 15px">
                                <label>
                                    <input id="accept-terms" type="checkbox" checked/> {% trans "Yes, I read and accept." %}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group submit">
                        <button id="cancel" class="btn btn-default btn-md hidden-xs" type="button"> {% trans "Back" %} </button>
                        <button id="continue" class="btn btn-primary btn-block btn-md continue" type="button"> {% trans "Continue" %} </button>
                        <button id="submit" class="btn btn-success btn-block btn-md cta" type="submit">
                            {% include 'core/snippets/button_spinner.html' %}
                            <span>{% trans "Submit" %}</span>
                        </button>
                        {% url 'ikwen:forgotten_password' as forgotten_password_url %}
                        <a class="forgotten-pwd" href="{{ forgotten_password_url }}">{% trans "Forgotten password ?" %}</a>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    {% if service.is_pwa_ready %}
        <script src="{% static 'ikwen/js/pwa-main.js' %}?v=20.5.31"></script>
    {% endif %}
    <script type="text/javascript">
        {% get_current_language as LANGUAGE_CODE %}
        (function() {
            $("#phone").intlTelInput({
                initialCountry: "cm",
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/js/utils.js"
            });
            let pwdMinLength = 4; //Length for auto-generated password
            $(window).on('hashchange', function() {
                if (location.hash.length < 1) {
                    $('.form-group.password').insertBefore('.terms').find('label').text("{% trans "Password" %}");
                    $('#stage').addClass('form-wrapper').removeClass('col-sm-9 col-md-8');
                    $('#content').addClass('init').removeClass('register');
                    $('#username').focus();
                } else if (location.hash.indexOf('step1') > 0) {
                    $('#content').removeClass('step2').addClass('step1');
                    $('#password').focus();
                }
            });
            $('body').on('click', '.submit-username .btn', checkUsername)
            .on('click', '#cancel', function() {
                window.history.back();
            }).on('click', '#continue', function() {
                $('.errorlist').remove();
                let goToNext = true;
                if (!testUsername()) goToNext = false;
                if (!testPassword()) goToNext = false;
                if ($('#email').hasClass('required')) {
                    if (!testEmail()) goToNext = false;
                }
                if ($('#phone').hasClass('required') || $('#phone').val()) {
                    if (!testPhone()) goToNext = false;
                }
                if (!goToNext) return;
                $('#content').removeClass('step1').addClass('step2');
                $('#first-name').focus();
                location.hash = 'register-step2';
            }).on('click', '#accept-terms', function() {
                if ($(this).prop('checked')) {
                    $('#submit').removeProp('disabled').removeClass('default')
                } else $('#submit').prop('disabled', true).addClass('default')
            }).on('click', '#submit:not(.processing)', function() {
                if ($('#content').hasClass('register step2')) {
                    $('.errorlist').remove();
                    {% if settings.REGISTER_WITH_DOB %}
                        if (!checkDOB()) return false;
                    {% endif %}
                    if (!$('#accept-terms').prop('checked')) return false;
                    let code = $(".country-list .active").attr('data-dial-code'),
                        phone = $('#phone').val();
                    $('#phone').val(code + phone);
                    $(this).addClass('processing');
                }
            }).on('keydown', '#auth input, #auth select', function(e) {
                // This Manages what happens when we press enter in the form
                // returning false on $(form).submit() does not prevent the
                // form from being submitted, so we use this hack instead.
                if (e.keyCode === 13) {
                    $('.errorlist').remove();
                    if ($('#content').hasClass('init')) {
                        e.preventDefault();
                        checkUsername();
                    }
                    if ($('#content').hasClass('register step1')) {
                        e.preventDefault();
                        $('#continue').click();
                        return;
                    }
                    if ($('#content').hasClass('register step2')) {
                        {% if settings.REGISTER_WITH_DOB %}
                            if (!checkDOB()) e.preventDefault();
                        {% endif %}
                        if (!$('#accept-terms').prop('checked')) e.preventDefault();
                    }
                    if ($('#submit').hasClass('processing')) e.preventDefault();
                }
            });
            $('#username').keyup(function(e) {
                if (e.key === ' ') {
                    var username = $(this).val().trim().toLowerCase();
                    $(this).val(username);
                }
            }).blur(function() {testUsername()});
            $('#email').blur(testEmail);
            $('#phone').blur(testPhone);
            function testUsername(uname) {
                $('.errorlist.username').remove();
                let $username = $('#username'),
                    username = $username.val();
                username = username.replace(/ /g, '').toLowerCase();
                $username.val(username);
                if (uname) username = uname;
                if (username.indexOf('@') > 0) {
                    if (username.isValidEmail()) return true;
                    $('<ul class="errorlist username"><li>' + "{% trans "Please, enter valid email" %}" + '</li></ul>')
                            .insertAfter('#username');
                    return false
                }
                if (username.length >= 3 && (/[a-z]{1}/.test(username.substr(0, 1)) || /\d{9,}/.test(username))) return true;
                $('<ul class="errorlist username">' +
                    '<li>' + "{% trans "Please use at least 3 characters." %}" + '</li>' +
                    '<li>' + "{% trans "Start with a letter or use a valid phone number." %}" + '</li>' +
                    '</ul>').insertAfter('#username');
                return false;
            }
            function testEmail() {
                $('.errorlist.email').remove();
                let $email = $('#email'),
                    email = $email.val().replace(/ /g, '').toLowerCase();
                $email.val(email);
                if (email.isValidEmail()) return true;
                {% if config.register_with_email %}
                $('<ul class="errorlist email"><li>' + "{% trans "Please, enter valid email" %}" + '</li></ul>')
                        .insertAfter('#email');
                {% endif %}
                return false;
            }
            function testPhone() {
                $('.errorlist.phone').remove();
                let $phone = $('#phone'),
                    phone = $phone.val().replace(/ /g, '');
                $phone.val(phone);
                if (phone && phone.substr(0, 6) !== '00' && /\d{9,}/.test(phone)){
                    return true;
                }
                $('<ul class="errorlist phone">' +
                    '<li>' + "{% trans "Please use digits only." %}" + '</li>' +
                    '</ul>').insertAfter('#phone');
                return false;
            }
            function testPassword() {
                $('.errorlist.password, .errorlist.password2').remove();
                let $pwd1 = $('#password'),
                    pwd1 = $pwd1.val(),
                    pwd2 = $('#password2').val();
                if (pwd1.length < pwdMinLength) {
                    $('<ul class="errorlist password">' +
                        '<li>' + "{% trans "Password too short. Use at least 6 characters." %}" + '</li>' +
                        '</ul>').insertAfter('#password');
                    return false
                }
                if (pwd1 !== pwd2) {
                    $('<ul class="errorlist password2">' +
                        '<li>' + "{% trans "Passwords mismatch! Please check." %}" + '</li>' +
                        '</ul>').insertAfter('#password2');
                    $pwd1.focus();
                    return false
                }
                return true;
            }

            function checkUsername() {
                let username = $('#username').val().toLowerCase(),
                    _$btn = $('.submit-username .btn');
                if (!username) return false;
                if (!testUsername(username)) return false;
                if (_$btn.hasClass('processing')) return false;
                _$btn.addClass('processing');
                $.ajax({
                    url: '{% url 'ikwen:sign_in' %}',
                    data: {username: username},
                    error: function(req, status, error) {
                        _$btn.removeClass('processing');
                        $('#content .failure').show().html("{% trans "Oops! An error occurred. Check your internet." %}");
                    },
                    success: function(data) {
                        if (data.existing) {
                            $('#auth').prop('action', "{% url 'ikwen:do_sign_in' %}?{{ request.META.QUERY_STRING|safe }}");
                            if (data.no_password && !data.is_staff) {
                                $('#password').val('---');  // --- is just a random password not to leave the field blank
                                $('#submit').click();
                                return
                            }
                            location.hash = 'login';
                            _$btn.removeClass('processing');
                            $('#content').removeClass('init');
                            $('#password').focus();
                            if (username.isValidEmail()) {
                                {% url 'ikwen:forgotten_password' as forgotten_password_url %}
                                $('.forgotten-pwd').prop('href', '{{ forgotten_password_url }}' + '?' + 'username=' + username);
                            }
                        } else {
                            $('#content').hide().removeClass('init').addClass('register step1').fadeIn('normal', 'linear', function() {
                                $('#password').focus();
                            });
                            $('#stage').removeClass('form-wrapper').addClass('col-sm-9 col-md-8');
                            if (username.isValidEmail()) {
                                $('#email').val(username);
                                $('.form-group.email').hide();
                            }
                            $('.form-group.password').prependTo('.create-account').find('label').text("{% trans "Choose a password" %}");
                            location.hash = 'register-step1';
                            $('#auth').prop('action', "{% url settings.REGISTER_URL %}?{{ request.META.QUERY_STRING|safe }}");
                        }
                    }
                });
            }
            function checkDOB() {
                $('.errorlist.dob').remove();
                let day = parseInt($('#day').val()),
                    month = parseInt($('#month').val()),
                    year = parseInt($('#year').val()),
                    d = new Date(year + '/' + month + '/' + day);
                if (d.getDate() === day && d.getMonth() === (month - 1) && d.getFullYear() === year) return true;
                $('<p class="errorlist dob">' + "{% trans "Invalid date. Please check." %}" + '</p>').appendTo('#dob');
                return false;
            }
        })()
    </script>
    {{ config.scripts|safe }}
{% endblock %}